@use '../abstracts' as *;

.navigation {
    @include flex_horizontal;
    width:100%;
    height:10vh;
    padding: 1rem 11rem;

    @include breakpoint(mobile){
        padding:0.5em 2em;
        margin-bottom:43em;

       .navigation__menu ul{
        display:none;
       }
       .navigation__menu{
        background-image: url(../assets/icon-hamburger.svg);
        width:10%;
        position:absolute;
        right:0;
        border: 1px solid red;
        background-color: aqua;
        background-repeat: none;
        background-size: cover;
        

       }
       .navigation__btn{
        display:none;
       
       }
      
     
     }
    

}






